@import "./variables";

@mixin bg-overlay($bg: rgba(0 0 0 / 60%)) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $bg;
}

@mixin section-padding($sec-pad: $section-padding) {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  @content;
}

%section-heading {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

%on-top {
  position: relative;
  z-index: 2;
  flex: 1;
}
