@import "./variables";
@import "./mixins";

.section {
  &-landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../assets/landing.jpg");
    block-size: cover;
    position: relative;

    &__overlay {
      @include bg-overlay;
    }

    &__text {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      padding: 5rem;
      background-color: $color-primary-transparent;
      color: $color-white;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &__content {
      max-width: 45rem;

      @media (max-width: 767px) {
        max-width: 90%;
        margin-inline: auto;
      }
    }

    &__heading {
      @extend %section-heading;
    }

    &__description {
      font-size: 1.4rem;
      line-height: 2;
    }

    &__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #ddd;
      cursor: pointer;

      @media (max-width: 767px) {
        display: none;
      }
    }

    &__arrow--left {
      left: 3rem;
    }

    &__arrow--right {
      right: 3rem;
    }

    &__bullets {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 1rem;
    }

    &__bullet {
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      border: 1px solid $color-white;
      cursor: pointer;
    }

    &__bullet--active {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

  &-services {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    &__container {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        column-gap: 4rem;
        row-gap: 6rem;
      }
    }

    &__box {
      display: flex;

      @media (max-width: 767px) {
        flex-direction: column;
        text-align: center;
        margin-bottom: 4rem;
      }
    }

    &__icon {
      margin-inline-end: 5rem;

      @media (max-width: 767px) {
        margin: 0 0 3rem;
      }
    }

    &__heading {
      margin-bottom: 3rem;
      color: $color-primary;
    }

    &__description {
      line-height: 2;
      color: $color-grey;
    }
  }

  &-design {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    height: 60rem;
    position: relative;
    background-image: url("../assets/design-features.jpg");
    block-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;

    &::before {
      content: "";
      @include bg-overlay;
    }

    &__image {
      @extend %on-top;
      text-align: center;

      @media (max-width: 767px) {
        display: none;
      }

      > img {
        position: relative;
        bottom: -12rem;
      }
    }

    &__text {
      @extend %on-top;
      color: $color-white;
      padding: 5rem;
      background-color: $color-primary-transparent;
    }

    &__heading {
      @extend %section-heading;
      text-transform: uppercase;
    }

    &__listItem {
      padding: 1.5rem 0;

      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f108";
        font-weight: 900;
        margin-right: 2rem;
        position: relative;
        top: 1px;
      }
    }
  }
}
