@import "./variables";
@import "./mixins";

.section {
  &-landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../assets/landing.jpg");
    block-size: cover;
    position: relative;

    &__overlay {
      @include bg-overlay;
    }

    &__text {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      padding: 5rem;
      background-color: $color-primary-transparent;
      color: $color-white;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &__content {
      max-width: 45rem;

      @media (max-width: 767px) {
        max-width: 90%;
        margin-inline: auto;
      }
    }

    &__heading {
      @extend %section-heading;
    }

    &__description {
      font-size: 1.4rem;
      line-height: 2;
    }

    &__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #ddd;
      cursor: pointer;

      @media (max-width: 767px) {
        display: none;
      }
    }

    &__arrow--left {
      left: 3rem;
    }

    &__arrow--right {
      right: 3rem;
    }

    &__bullets {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 1rem;
    }

    &__bullet {
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      border: 1px solid $color-white;
      cursor: pointer;
    }

    &__bullet--active {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

  &-services {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    &__container {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        column-gap: 4rem;
        row-gap: 6rem;
      }
    }

    &__box {
      display: flex;

      @media (max-width: 767px) {
        flex-direction: column;
        text-align: center;
        margin-bottom: 4rem;
      }
    }

    &__icon {
      margin-inline-end: 5rem;

      @media (max-width: 767px) {
        margin: 0 0 3rem;
      }
    }

    &__heading {
      margin-bottom: 3rem;
      color: $color-primary;
    }

    &__description {
      line-height: 2;
      color: $color-grey;
    }
  }

  &-design {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    height: 60rem;
    position: relative;
    background-image: url("../assets/design-features.jpg");
    block-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;

    &::before {
      content: "";
      @include bg-overlay;
    }

    &__image {
      @extend %on-top;
      text-align: center;

      @media (max-width: 767px) {
        display: none;
      }

      > img {
        position: relative;
        bottom: -12rem;
      }
    }

    &__text {
      @extend %on-top;
      color: $color-white;
      padding: 5rem;
      background-color: $color-primary-transparent;
    }

    &__heading {
      @extend %section-heading;
      text-transform: uppercase;
    }

    &__listItem {
      padding: 1.5rem 0;

      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f108";
        font-weight: 900;
        margin-right: 2rem;
        position: relative;
        top: 1px;
      }
    }
  }

  &-portfolio {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    &__list {
      display: flex;
      justify-content: center;
    }

    &__listItem {
      padding: 1rem;
      text-transform: capitalize;

      &--active {
        color: $color-white;
        background-color: $color-primary;
      }
    }

    &__images-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 6rem;
    }

    &__box {
      position: relative;
      overflow: hidden;

      @media (min-width: 768px) {
        flex-basis: 50%;
      }

      @media (min-width: 1199px) {
        flex-basis: 25%;
      }

      &:hover .section-portfolio__caption {
        bottom: 0;
      }

      &:hover .section-portfolio__img {
        transform: rotate(3deg) scale(1.1);
      }
    }
    &__img {
      max-width: 100%;
      transition: $transition-duration;
    }

    &__caption {
      position: absolute;
      padding: 2rem;
      background-color: $color-white;
      width: 100%;
      left: 0;
      bottom: -100%;
      transition: $transition-duration;
    }

    &__heading {
      margin-bottom: 1rem;
      font-weight: normal;
      text-transform: capitalize;
    }

    &__description {
      color: $color-primary;
      text-transform: capitalize;
    }

    &__link {
      color: $color-white;
      background-color: $color-primary;
      padding: 1.5rem 2rem;
      display: block;
      width: fit-content;
      margin: 3rem auto;
      text-transform: uppercase;
    }
  }

  &-video {
    position: relative;

    &::before {
      content: "";
      @include bg-overlay($bg: rgb(0 0 0 / 40%));
    }

    &__video {
      width: 100%;
    }

    &__text {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 5rem;
      background-color: $color-primary-transparent;
      color: $color-white;
      text-align: center;

      @media (max-width: 767px) {
        padding: 2.5rem 5rem;
      }
    }

    &__heading {
      margin-bottom: 3rem;
      text-transform: uppercase;
      font-weight: normal;

      @media (max-width: 767px) {
        margin-bottom: 1.5rem;
        font-size: 2.2rem;
      }
    }

    &__description {
      margin-bottom: 3rem;
    }

    &__button {
      background-color: $color-black;
      color: $color-white;
      padding: 1rem 2rem;
      text-transform: uppercase;
    }
  }

  &-about {
    padding-top: $section-padding;
    overflow: hidden;
    text-align: center;

    &__image {
      position: relative;
      bottom: -12rem;
      margin-top: -12rem;
      max-width: 100%;

      @media (max-width: 767px) {
        bottom: -6rem;
        margin-top: -6rem;
        margin-inline: auto;
      }
    }
  }

  &-stats {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    text-align: center;
    background-image: url(../assets/stats.png);
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      @include bg-overlay(rgb(0 0 0 / 70%));
    }

    &__container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }

    &__box {
      color: $color-white;
      padding: 5rem;
      background-color: $color-primary-transparent;

      @media (max-width: 767px) {
        flex-basis: 100%;
      }

      @media (min-width: 768px) {
        flex-basis: 50%;
      }

      @media (min-width: 992px) {
        flex-basis: 25%;
      }
    }

    &__icon {
      width: 4rem;
      height: 4rem;
      display: flex;
      background-color: $color-black;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 0 auto 3rem;
    }

    &__number {
      font-size: 4rem;
      font-weight: bold;
      margin: 0 0 2rem;
    }

    &__description {
      font-size: 1.4rem;
    }
  }
}
