* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  margin-inline: auto;
  padding-inline: 1.5rem;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 10rem;
}
.header__container::after {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  height: 0.1rem;
  width: calc(100% - 3rem);
  left: 1.5rem;
  bottom: 0;
}
.header__logo > img {
  height: 4rem;
}
.header__nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__burgerIcon {
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__burgerIcon {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__burgerIcon:hover + .header__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #222;
  }
}
.header__list {
  display: flex;
}
@media (max-width: 767px) {
  .header__list {
    display: none;
  }
}
.header__link {
  padding: 4rem 1rem;
  display: block;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  transition: 0.3s;
}
.header__link--active, .header__link:hover {
  color: #19c8fa;
  border-bottom: 0.1rem solid #19c8fa;
}
@media (max-width: 767px) {
  .header__link {
    padding: 1.5rem;
  }
}
.header__search {
  width: 4rem;
  height: 3rem;
  position: relative;
  margin-left: 3rem;
  border-left: 0.1rem solid #fff;
}
.header__search > i {
  color: #fff;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

.section-landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../assets/landing.jpg");
  block-size: cover;
  position: relative;
}
.section__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.section__text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 5rem;
  background-color: rgba(15, 116, 143, 0.7);
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .section__text {
    width: 100%;
  }
}
.section__content {
  max-width: 45rem;
}
@media (max-width: 767px) {
  .section__content {
    max-width: 90%;
    margin-inline: auto;
  }
}
.section__heading {
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.section__description {
  font-size: 1.4rem;
  line-height: 2;
}
.section__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  cursor: pointer;
}
@media (max-width: 767px) {
  .section__arrow {
    display: none;
  }
}
.section__arrow--left {
  left: 3rem;
}
.section__arrow--right {
  right: 3rem;
}
.section__bullets {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}
.section__bullet {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}
.section__bullet--active {
  background-color: #19c8fa;
  border-color: #19c8fa;
}/*# sourceMappingURL=style.css.map */